body {
  margin: 0;
  background-color: gray;
  overflow: hidden;

}

canvas {
  border: 1px solid black;
  /*background-color: lightblue;*/

}

#nodeEntryForm {
  display: none;
}
.jumbotron {
  background-image: url(../img/grid.png);

}
